body
{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1
{
    font-size: 50px;
}
p
{
    color: dimgrey;
}
section
{
    height: 500px;
    padding-bottom: 200px;
}
.nameDesign
{
    color: orange;
}
.halfWidth
{
    width: 30%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.halfWidth img
{
    width: 100%;
}
.topBanner
{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}


.linkButton
{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightSalmon,tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700px;

}

.midBanner
{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.experinceBanner
{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

.singleExperince
{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 60%;
    background-color: white;
}
#webStack
{
    border-left: 7px solid;
    border-image: linear-gradient(180deg ,rgb(103, 199, 58),rgba(71, 255, 200, 0.746));
    border-image-slice: 1;
}

#softStack
{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,rgb(183, 173, 230),rgb(217, 0, 255));
    border-image-slice: 1;
}
footer h3
{
    text-align: center;
}